<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Аренда помещений</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <sec:authorize access="isAuthenticated()">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Мои объявления</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="/">Мои бронирования</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/create">Создать объявление</a>
        </sec:authorize>
        <sec:authorize access="!isAuthenticated()">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/logout">Выход</a>
        </sec:authorize>
      </nav>
    </div>
  </div>